DATABASE_URL="file:./leie.db"
GEOCODING_PROVIDER="mock"
GEOCODING_API_KEY=""
ENABLE_APPROVED_FINN_INTEGRATION="false"
ENABLE_APPROVED_AIRBNB_INTEGRATION="false"
ENABLE_APPROVED_HYBEL_INTEGRATION="false"
ENABLE_APPROVED_UTLEIEMEGLEREN_INTEGRATION="false"
ENABLE_APPROVED_HEIMSTADEN_INTEGRATION="false"
